src/main/app/issuer-validation-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="inquiryValidationFlow">
		<choice>
			<when expression="#[originalPayload['TicketID'] != null]">
				<logger level="INFO"
					message="[INQUIRY Validation = #[originalPayload['TicketID']]]"
					doc:name="Logger" />
				<flow-ref name="inquiryBPFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<flow-ref name="invalidParameterIssuerFlow" />
			</otherwise>
		</choice>
	</flow>

	<flow name="purchaseValidationFlow">
		<message-filter onUnaccepted="invalidParameterIssuerFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[originalPayload['TicketID'] != null]" />
				<expression-filter expression="#[originalPayload['TransactionNumber'] != null]" />
				<expression-filter expression="#[originalPayload['Amount'] != null]"/>
			</and-filter>
		</message-filter>

		<logger level="INFO" message="[PURCHASE Validation = #[payload]]"
			doc:name="Logger" />
		<flow-ref name="purchaseBPFlow" doc:name="Flow Reference" />

	</flow>
</mule>
