target/classes/generate-ticket-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="generateTicketBPFlow">
		<set-variable value="#[org.parking.api.process.Utils.GenerateTicketID()]"
			variableName="correlationID" doc:name="Variable" />
		<logger level="INFO" message="Correlation ID = #[correlationID]" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
				<![CDATA[SELECT id, name FROM on_street_parking.bank 
							WHERE code=#[originalPayload['bankCode']]]]>
			</db:parameterized-query>
		</db:select>
		<message-filter onUnaccepted="dataNotFoundFlow"
			doc:name="Message">
			<expression-filter expression="#[payload != []]" />
		</message-filter>
		<set-variable value="#[new String(payload.get(0)['id'])]"
			variableName="bank_id" doc:name="Variable" />
		<set-variable value="#[payload.get(0)['name']]"
			variableName="bank_name" doc:name="Variable" />

		<expression-transformer
			expression="#[originalPayload['bankID']=flowVars['bank_id'];originalPayload]"
			doc:name="Expression" />
		<expression-transformer
			expression="#[originalPayload['bankName']=flowVars['bank_name'];originalPayload]"
			doc:name="Expression" />

		<expression-component doc:name="Expression">
			<![CDATA[reqMap = new java.util.HashMap();				
				reqMap['methodType']= 'PUT'; 
				reqMap['name']= 'TicketIDMap'; 
				reqMap['key']= flowVars['correlationID']; 
				reqMap['value']= originalPayload; 
			payload = reqMap;]]>
		</expression-component>
		<pooled-component>
			<spring-object bean="CacheProcessor" />
		</pooled-component>
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />
		<choice>
			<when expression="#[originalPayload['bankCode']]">
				<flow-ref name="generateTicketBankDKIBPFlow" />
			</when>
			<otherwise>
				<logger level="INFO" message="Coming Soon" />
			</otherwise>
		</choice>
		<expression-component doc:name="Expression">
			<![CDATA[
				allMap = new java.util.HashMap();
				allMap['qrData'] = flowVars['qrdata'];
				
				responseMap = new java.util.HashMap();
				responseMap['GenerateTicketResponse']= [allMap];
			payload = responseMap;]]>
		</expression-component>
	</flow>
</mule>
