target/classes/response-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="requestValidationFlow">
		<set-variable variableName="httpStatus" value="#[payload]"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = payload;
			payload = responseMap;]]>
		</expression-component>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>

	<flow name="invalidParameterNDIFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
				allMap = new java.util.HashMap();
				allMap['status'] = 'INVALID_PARAMETER';
				
				responseMap = new java.util.HashMap();
				responseMap['GenerateTicketResponse'] = [allMap];
			payload = responseMap;]]>
		</expression-component>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>
	
	<flow name="invalidParameterIssuerFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
				allMap = new java.util.HashMap();
				allMap['status'] = 'INVALID_PARAMETER';
				
				responseMap = new java.util.HashMap();
				responseMap['InquiryResponse'] = [allMap];
			payload = responseMap;]]>
		</expression-component>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>

	<flow name="dataNotFoundFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
				allMap = new java.util.HashMap();
				allMap['status'] = 'NOT_FOUND';
				
				responseMap = new java.util.HashMap();
				responseMap['GenerateTicketResponse'] = [allMap];
			payload = responseMap;]]>
		</expression-component>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>

	<flow name="dbFailedFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
				allMap = new java.util.HashMap();
				allMap['status'] = 'UNKNOWN_ERROR';
				
				responseMap = new java.util.HashMap();
				responseMap['GenerateTicketResponse'] = [allMap];
			payload = responseMap;]]>
		</expression-component>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>
</mule>
